body{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

*{
    box-sizing: border-box;
    font-size: 14;
}

.container{
    height: 100vh;
    position: relative;
}
/* Title Bar CSS */

.title-bar{
    height: 5vh;
    background-color: #107c41;
    display: flex;
    justify-content: center; 
    align-items: center;
    color: white;
}

/* Menu Bar CSS */

.menu-bar{
    height: 5vh;
    background-color: #107c41;
    display: flex; 
}

.menu-item{
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    font-size: 18;
    display: flex;
    align-items: center;
}

.menu-item.selected {
     background-color: #fff;
     color: #107c41;
}

.menu-item:hover{
     background-color: #0c5e31;
     cursor: pointer;
}

.menu-item.selected:hover{
    background-color: #fff;
    cursor: default;
}

/* Menu-icon-bar CSS */

.menu-icon-bar{
    height: 6vh;
    background-color: rgb(241,241,241);
    display: flex;
    align-items: center;
}

.font-family-selector{
    width: 150px;
    font-size: "Noto Sans";
}

.selector{
    height: 30px;
    font-size: 18px;
}

.selector option{
    font-size: 18px;
}

.material-icons.menu-icon{
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    display: flex;
    align-items: center;
}

.menu-icon{
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    display: flex;
    align-items: center;
}

.menu-icon:hover{
    background-color: lightgray;
    cursor: pointer;
}

.menu-icon.selected{
    background-color: lightgray;
}

.icon-color-fill, .icon-color-text{
    position: relative;
}

.color-picker{
    position: absolute;
    width: 28px;
    height: 12px;
    border: none;
    padding: 0;
    top: 29px;
    right: 8px;
    cursor: pointer;
}

/* Formula Bar CSS */

.formula-bar{
    height: 5vh;
    display: flex;
    align-items: center;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    background-color: rgb(241,241,241);
}

.formula-editor{
    height: 70%;
    border: 1px solid lightgray;
    background-color: white;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    display: flex;
    align-items: center;
    outline-color: #107c41;
}

.selected-cell{
    width: 120px;
}

.function-sign{
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    height: 16px;
    width: 16px;
}

.formula-input{
    width: calc(100vw - 160px);
}

/* Data Container CSS*/

.data-container{
    height: 74vh;
    display: flex;
    flex-wrap: wrap;
}

.select-all{
    width: 30px;
    height: 30px;
    border: 1px solid lightgray;
}

.column-name-container{
    display: flex;
    width: calc(100vw - 30px);
    height: 30px;
    border: 1px solid lightgray;
    overflow: hidden;
}

.column-name{
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid lightgray;
    font-weight: "bold";
}


.row-name-container{
    width: 30px;
    height: calc(74vh - 30px);
    border: 1px solid lightgray;
    overflow: hidden;
}

.row-name{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 25px;
    border-bottom: 1px solid lightgray;
}

.cell-row{
    display: flex;
}


.input-cell-container{
    width: calc(100vw - 30px);
    height: calc(74vh - 30px);
    border: 1px solid lightgray;
    overflow: scroll;
}

.input-cell{
    min-width: 100px;
    min-height: 25px;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    outline-color: #107c41;
    font-size: 20px;
    font-family: "Noto Sans";
}

.input-cell.selected{
    border: 2px solid #107c41;
}

/* For Selecting multiple cells*/

.input-cell.top-cell-selected{
    border-top: none;
}

.input-cell.bottom-cell-selected{
    border-bottom: 1px solid lightgray;
}

.input-cell.right-cell-selected{
    border-right: 1px solid lightgray;
}

.input-cell.left-cell-selected{
    border-left: none;
}

/* Sheet Bar CSS */

.sheet-bar{
    height: 4vh;
    display: flex;
}

.scroller{
    width: 70px;
}

.icon-left-scroll:hover, .icon-right-scroll:hover{
    background-color: lightgray;
    cursor: pointer;
}

.icon-add{
    color: #107c41;
   width: 40px;
}

.icon-add:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.sheet-tab-container{
    border: 1px solid lightgray;
    width: calc(100vw - 110px);
    display: flex;
}

.sheet-tab{
    padding-left: 0;
    padding-right: 0;
    display: flex;
    width: 100px;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border-right: 1px solid lightgray;
}

.sheet-tab:hover{
    cursor: pointer;
    background-color: lightgray;
}

.sheet-tab.selected{
    border-bottom: 4px solid #107c41;
}

.sheet-tab.selected:hover{
    cursor: default;
    background-color: #fff;
}

.sheet-options-modal{
    position: absolute;
    bottom: 4vh;
    background-color: #fff;
    height: 60px;
    width: 80px;
    box-shadow: 0 0 5px 3px lightgray;
    bottom: 5vh;
}

.sheet-rename, .sheet-delete{
    height: 30px;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sheet-delete:hover, .sheet-rename:hover{
    background-color: lightgray;
    cursor: pointer;
}

.sheet-rename-modal{
    position: absolute;
    height: 200px;
    width: 300px;
    top: calc(100vh / 2 - 100px);
    left: calc(100vw / 2 - 150px);
    background-color: white;
    text-align: center;
    box-shadow: 0 0 2px 1px lightgray;
}

.action-buttons{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
}

.modal-title{

}

.new-sheet-name{
    outline-color: #107c41;
}

.submit-button{
    cursor: pointer;
    color: white;
    background-color: #107c41;
    padding: 8px;
    font-size: 20px;
}

.cancel-button{
    cursor: pointer;
    background-color: lightgray;
    padding: 8px;
    font-size: 20px;
}
